@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap');


/* Estilo da scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Largura da scrollbar */
}

/* Estilo do thumb (a barra de rolagem propriamente dita) */
::-webkit-scrollbar-thumb {
  background-color: #003a69; /* Cor do thumb */
  border-radius: 4px; /* Borda arredondada do thumb */
}

/* Estilo do track (o fundo da scrollbar) */
::-webkit-scrollbar-track {
  background-color: rgb(94, 94, 94); /* Cor do track */
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Gemunu Libre';

}
body {
  background-color: #000000;
}

main {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid #E0E0E2;
  position: fixed;
  transition: all 1s;
  z-index: 10;
  top: 0;
}

header.scrolled {
  background-color: rgba(37, 37, 37, 0.6); 
}

footer {
  width: 100%;
  height: auto;
  padding: 40px 0px;
  align-items: center;
  justify-content: center;
  display: flex;
  bottom: 0;
  background-color: #001242;
  color: #E0E0E2;
}


.imgMenu {
  height: 50%;
  margin: 0px 30px;
}

.imgMenu:hover {
  cursor: pointer;
  opacity: 70%;
}

.imgProfile {
  height: 60%;
  margin: 0px 30px;
}

.footer-content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-infos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages-redirects {
  border-right: 1px solid #797878;
  padding-right: 20px;
}

.pages-redirects ul li a {
  color: #E0E0E2;
  text-decoration: none;
  font-size: 18pt;
  text-transform: uppercase;
}

.pages-redirects ul li a:hover {
  opacity: 70%;
  cursor: pointer;
}

.pages-redirects ul li {
  list-style-type: none;
}

.footer-infos p {
  margin: 0px;
  padding-left: 20px;
  font-size: 14pt;
}


.fechar-menu {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #00d9ff;
  font-size: 18pt;
  cursor: pointer;
}

.fechar-menu:hover {
  opacity: 70%;
}

.opacity {
  opacity: 70%;
  pointer-events: none;
  overflow: hidden;
}



/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.sidebar{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
.sidebar{
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 20%;
min-width: 200px;
background: #000820;
z-index: 100;
transition: all 0.5s ease;
overflow: hidden;
}
.sidebar.close{
width: 200px;
left: -200px;
}
.sidebar .logo-details{
height: 60px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.sidebar .logo-details .logo_name{
font-size: 22px;
color: #fff;
font-weight: 600;
transition: 0.3s ease;
transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
transition-delay: 0s;
opacity: 0;
pointer-events: none;
}
.sidebar .nav-links{
height: 100%;
padding: 30px 0 150px 0;
overflow: auto;
}
.sidebar.close .nav-links{
overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
display: none;
}
.sidebar .nav-links li{
position: relative;
list-style: none;
transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
background: #1d1b31;
cursor: pointer;
}
.sidebar .nav-links li .iocn-link{
display: flex;
align-items: center;
justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
display: block
}
.sidebar .nav-links li i{
height: 50px;
min-width: 78px;
text-align: center;
line-height: 50px;
color: #fff;
font-size: 20px;
cursor: pointer;
transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
display: none;
}
.sidebar .nav-links li a{
display: flex;
align-items: center;
text-decoration: none;
}
.sidebar .nav-links li a .link_name{
font-size: 18px;
font-weight: 400;
color: #fff;
transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
opacity: 0;
pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
padding: 6px 6px 14px 80px;
margin-top: -10px;
background: #1d1b31;
display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
display: block;
}
.sidebar .nav-links li .sub-menu a{
color: #fff;
font-size: 15px;
padding: 5px 0;
white-space: nowrap;
opacity: 0.6;
transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
position: absolute;
left: 100%;
top: -10px;
margin-top: 0;
padding: 10px 20px;
border-radius: 0 6px 6px 0;
opacity: 0;
display: block;
pointer-events: none;
transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
top: 0;
opacity: 1;
pointer-events: auto;
transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
font-size: 18px;
opacity: 1;
display: block;
}
.sidebar .nav-links li .sub-menu.blank{
opacity: 1;
pointer-events: auto;
padding: 3px 20px 6px 16px;
opacity: 0;
pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
top: 50%;
transform: translateY(-50%);
}

.one {
width: 80%;
margin-left: 10%;
background-color: black;
height: 400px;
}

.sidebar .profile-details{
position: fixed;
bottom: 0;
width: 20%;
min-width: 200px;
display: flex;
align-items: center;
justify-content: space-between;
background: #1d1b31;
padding: 12px 0;
transition: all 0.5s ease;
}
.sidebar.close .profile-details{
background: none;
overflow: hidden;
}
.sidebar.close .profile-details{
width: 78px;
}
.sidebar .profile-details .profile-content{
display: flex;
align-items: center;
}
.sidebar .profile-details img{
height: 40px;
width: 40px;
object-fit: cover;
border-radius: 16px;
margin: 0 14px 0 12px;
background: #1d1b31;
transition: all 0.5s ease;
}
.sidebar .profile-details:hover {
cursor: auto;
}
.sidebar.close .profile-details img{
padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
color: #fff;
font-size: 18px;
font-weight: 500;
white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
display: none;
}
.sidebar .profile-details .job{
font-size: 12px;
}

@media screen and (max-width: 768px) {

  .sidebar {
      width: 100vw;
  }

  .sidebar.close {
    left: -100vw;
  }
  .sidebar .profile-details {
    width: 100vw;
  }
}